@* Indica que usaremos un modelo fuertemente tipado *@
@model Curso 

@{
    ViewData["Title"] = "Creacion de Curso";
}

<h1>@ViewData["Tittle"]  </h1>
<div class="container">
@if (ViewBag.mensaje != null)
{
    @if (ViewBag.err == false)
    {
    <div class="alert alert-success" role="alert">
        @ViewBag.mensaje
    </div>
    }else{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
    }

}
    <form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input class="form-control" type="text" asp-for="Nombre"/>
    </div>

    <div >
        <label asp-for="Dirección"></label>
        <input class="form-control" type="text" asp-for="Dirección"/>
    </div>
    
    <div>
        <label asp-for="Jornada"></label>
        @Html.DropDownList(
            "Jornada", Html.GetEnumSelectList<CoreEscuela.Entidades.TiposJornada>(),
            "Seleccione una jornada",
            new {@class = "form-control"}
        )
    </div>
    
    <div class="mt-10" >
       <input class="form-control btn btn-success" type="submit"/>
    </div>
    
</form>
</div>


<p>@ViewBag.Fecha</p>